* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 1s ease; /* Adiciona transição para mudanças nos estilos */

}

.imagemancomputer {
    display: flex;
    width: 73%; /* Use % para adaptar ao tamanho da tela */
    height: 100vh;
    margin: 0 0 0 auto;  
    background-image: url(assets/read_news\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease; /* Adiciona transição para mudanças nos estilos */

}

.black-area {
    background: var(--black, #121214);
    position: absolute;
    flex-basis: 40%;
    width: 50%; /* Use % para adaptar ao tamanho da tela */
    height: 100vh;
    margin: 0 0 0 auto; 
    transition: all 1s ease; /* Adiciona transição para mudanças nos estilos */
 

}

.container img.logo {
    margin: 2rem;
    width: 389px;
    height: 94px;
}


.text-area {
    margin-top: 92px;
    padding: 2rem;
    text-align: start;

}

.linha1 {
    color: var(--green, #08C05E);
    font-family: Work Sans , sans-serif;;
    margin-bottom: 8.56px; /* Espaço de 8px entre as linhas de texto */
    font-size: 24px;
    font-style: bold;
    font-weight: 700;
    line-height: normal;
}

.linha2 {
    color: #FFF;
    font-family: Spartan , sans-serif;;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 8.56px;  
}

.linha3 {
    color: #b8b8b8;
    font-family: Spartan , sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.735%;

    margin-bottom: 8.56px; 

}

.linha4 {
    color: #A8A8A8;
    font-family: Spartan, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.735%; 

    margin: 50px 0 -48px 0; 

}

.email{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 2rem;
    height: 80px;

    
}
button {
    background-image: url(assets/send.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #8257E5;    
    color: white;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: none;
}

.email{
    display: flex;
    position: absolute;
}

.email input {
    outline: none;
    display: flex;
    text-indent: 10px;
    border: none;
    background: #FFF;
    width: 50vw;
    height: 48px;
    transition: all 1s ease; /* Adiciona transição para mudanças nos estilos */

}

.email img {
    width: 5px;
    height: 48px;
}


.read-first {
    display: flex;
    margin-top: 10px;
    padding: 2rem;
    text-align: center;
    max-height: auto;
    text-decoration: none;
    width: 196;
    width: 24px;
}

.read-first a {
    text-decoration: none;
    text-align: center;
    
}

.linha5 {
    display: flex;
    color: var(--purple, #8257E5);
    font-family: Spartan, sans-serif;
    font-size: 14px;
    gap: 5px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.42px;
    align-items: center;
    white-space: nowrap;
    margin-top: 81px;

}

.read-first img {
    align-items: center;
    width: 24px;
    height: 24px;    
}

/* Estilos para diferentes resoluções */
@media (max-width: 430px) {
    /* xs */
    .container {
        flex-basis: 100%;
        width: 100%;
        
    }
    .email input {
        width: 280px;
    }
    .imagemancomputer {
        display: none;
    }

    .black-area {
        width: 100%;
        height: auto;
    }

    .container img.logo {
        padding: 1.8rem;
        width: 289px;
        height: 94px;
        transform: scale(2);
        transition: width 1s ease; /* Adicione uma transição suave */
    }
}

@media (max-width: 800px) {
    /* xs */
    .container {
        flex-basis: 100%;
        width: 100%;
        height: auto;
        
    }
    .email input {
        width: 50vw;

    }
    

    .black-area {
        width: 100%;
    }

    .container-geral img {
        width: 100%;
        height: auto;
    }
}